.wporg-2fa__first-time {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;


    .wporg-2fa__first-time__inner {
        padding: 80px 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .wporg-2fa__first-time__inner-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 600px) {
            width: 600px;
        }

        > svg {
            margin-bottom: 16px;
        }

        // Preven cards from shrinking.
        .components-card {
            width: 100%;
        }
    }

    .wporg-2fa__first-time-default {
        padding: 16px 0 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .wporg-2fa__first-time-default-item {
        margin: 6px;
        position: relative;
        display: flex;
        gap: 10px;
        align-items: flex-start;

        span {
            font-weight: 600;
            z-index: 1;
        }

        input {
            position: relative;
            z-index: 1;
            margin-top: 4px;
            margin-left: 4px;
        }

        input:checked + div::before {
            position: absolute;
            content: '';
            border: 1px solid var(--wp--preset--color--charcoal-3, #40464d);
            border-radius: 4px;
            height: 140%;
            width: 102%;
            left: -1%;
            top: -20%;
            z-index: 0;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                color: var(--wp--preset--color--charcoal-4, #656a71);
                margin: 0;
                z-index: 1; 
            }
        }
    }
}

.wporg-2fa__congratulations h3 {
    margin-bottom: 14px;
}
