.wporg-2fa__progress-bar,
#bbpress-forums .wporg-2fa__progress-bar,
#bbpress-forums.bbpress-wrapper .wporg-2fa__progress-bar {
	--color-enabled: #1e1e1e;
	--color-disabled: #{$gray-400};
	--color-disabled-text: #{$gray-700}; // Darker than `color-disabled` to meet a11y contrast standards.

	position: relative;

	.wporg-2fa__setup-steps {
		position: relative;
		margin-bottom: 32px;
		z-index: 2; /* On top of the separators. */
		display: flex;
		justify-content: space-between;

		li {
			text-align: center;

			.wporg-2fa__setup-label {
				display: block;
				font-size: 12px;
			}
		}

		svg {
			box-sizing: content-box;
			padding: 8px;
			border: 1px solid;
			border-radius: 30px;
		}

		li.is-enabled {
			color: var(--color-enabled);

			svg {
				background-color: var(--color-enabled);
				border-color: var(--color-enabled);
				fill: $white;
			}
		}

		li.is-disabled {
			color: var(--color-disabled-text);

			svg {
				background-color: white;
				border-color: var(--color-disabled);
				fill: var(--color-disabled);
			}
		}

		li.is-complete {
			color: var(--color-disabled-text);

			svg {
				background-color: var(--wp--preset--color--blueberry-1, #3858e9);
				border-color: var(--wp--preset--color--blueberry-1, #3858e9);
				fill: white;
			}
		}
	}
}

.wporg-2fa__progress-bar {
	margin: 0;
}

.wporg-2fa__progress-bar .wporg-2fa__setup-step-separator::before {
	content: '';
	position: absolute;
	height: 2px;
	width: var(--wporg-separator-width, 0%);
	background:  var(--wp--preset--color--blueberry-1, #3858e9);
	z-index: 1;
}

.wporg-2fa__progress-bar .wporg-2fa__setup-step-separator {
	position: absolute;
	width: 96%;
	height: 2px;
    margin-left: 2%;
    top: 16px;
    z-index: 0;
	background: var(--color-disabled);
	z-index: 0;
}