.wporg-2fa__account-status {
	.wporg-2fa__status-card {
		&:hover,
		&.wporg-2fa__status-card__focused {
			z-index: 1;
		}

		a {
			display: block;
			text-decoration: none;

			&:hover,
			&:focus {
				outline: 1px solid var(--wp-admin-theme-color);
				outline-offset: 0;
			}
		}

		.components-card__body {
			display: grid;
			grid-template-columns: min-content auto min-content;
			grid-template-areas:
				"status header      open"
				"status description open"
			;
			grid-column-gap: 10px;
			padding: 18px 14px;

			.wporg-2fa__status-icon {
				grid-area: status;
				align-self: center;
			}

			h3 {
				grid-area: header;
				align-self: end;
				margin: 0;
				font-size: 1.1em;
				color: $gray-900;
			}

			p {
				grid-area: description;
				align-self: start;
				margin: 0;
				color: $gray-700;
			}

			.wporg-2fa__status-card-open {
				grid-area: open;
				align-self: center;
			}
		}
	}

	.wporg-2fa__status-icon {
		&.is-enabled,
		&.is-ok {
			fill: $alert-green;
		}

		&.is-pending {
			fill: $alert-yellow;
		}

		&.is-disabled,
		&.is-error {
			fill: $alert-red;
		}
	}
}
