.wporg-2fa__account-status {
	.wporg-2fa__status-card {
		margin-bottom: 40px;

		a {
			text-decoration: none;
		}

		.components-card__header {
			justify-content: flex-start;
		}

		.components-card__body {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.wporg-2fa__status-icon {
		&.is-enabled,
		&.is-ok {
			fill: var(--color-success);
		}

		&.is-pending {
			fill: var(--color-warning);
		}

		&.is-disabled,
		&.is-error {
			fill: var(--color-error);
		}
	}
}
