@use '~@wordpress/base-styles/colors' as *;

.wporg-2fa__application-passwords,
.bbp-single-user .wporg-2fa__application-passwords {
	.wporg-2fa__application-passwords-table {
		width: 100%;
		border-collapse: collapse;

		th {
			text-align: left;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			color: $gray-700;
			padding: 8px 12px 8px 0;
			border-bottom: 2px solid $gray-300;
		}

		td {
			padding: 16px 12px 16px 0;
			border-bottom: 1px solid $gray-300;
			font-size: 13px;
			vertical-align: middle;
		}

		tr:last-child td {
			border-bottom: none;
		}

		.wporg-2fa__app-password-name {
			font-weight: 500;
		}

		.wporg-2fa__app-password-actions {
			text-align: right;
			padding-right: 0;
		}
	}
}

.components-modal__frame.wporg-2fa__confirm-revoke-app-password {
	.components-notice.is-error {
		margin-top: 18px;
	}
}
