.wporg-2fa__backup-codes {
	.wporg-2fa__backup-codes-list {
		background-color: $gray-300;
		margin: 1em 0;
		padding: 15px 20px;

		ol {
			column-count: 2;
			column-width: 110px;
			margin: 0;
		}

		li::marker {
			/* todo: a11y issues w/ contrast here? mockup calls for this to be lighter than the backup code
			     -- presumably so that users don't mistakenly think it's part of the code --
			     but darker than the background
		    */
			color: $gray-700;
		}
	}

	.components-notice {
		margin-bottom: 1em;
	}
}

#bbpress-forums .wporg-2fa__backup-codes {
	.wporg-2fa__backup-codes-list {
		li {
			list-style-type: decimal;
			list-style-position: inside;
		}
	}
}
