.wporg-2fa__email {
	/* Align the actions in a <Notice /> to the right */
	.components-notice.actions-on-right > div {
		display: flex;
		&> p {
			flex-grow: 1;
			margin: initial; /* wporg-support adds top padding to <p> causing button alignment issues. */
		}
	}

	.email-error {
		color: var(--color-error);
	}
}
