.wporg-2fa__password,
.bbp-single-user .wporg-2fa__password {

	.wporg-2fa__password_container {
		justify-content: flex-start;
		align-items: flex-start;
		position: relative;
		width: fit-content;

		input {
			/* This includes room for the `(un)seen` icon, and also for the icon that 1password etc add to password fields. */
			padding-right: 35px;
		}
	}

	.wporg-2fa__show-password {
		position: absolute;
		top: 24px;
		right: 1px;
		margin: 0;
		padding: 0 5px;
		height: 31px;
	}
}
