.wporg-2fa__password,
.bbp-single-user .wporg-2fa__password {
	.wporg-2fa__password_container {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.wporg-2fa__show-password {
		flex-shrink: 0;
		position: relative;
		top: 23px;
		margin: 0;
		padding: 0;
	}
}
