.wporg-2fa__password,
.bbp-single-user .wporg-2fa__password {
	input[type="text"] {
		padding: 6px 8px; /* Match .components-text-control__input[type="password"] */
	}

	.wporg-2fa__password_container {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.wporg-2fa__show-password {
		flex-shrink: 0;
		position: relative;
		top: 23px;
		margin: 0;
		padding: 0;
	}

	.components-notice {
		margin-left: 0;
		margin-right: 0;
	}

	.components-notice__content {
		align-items: center;
		display: flex;
		gap: 8px;
	}
}
