.wporg-2fa__success {
	flex: 1;

	.wporg-2fa__status-icon {
		flex: 1;
	}
}

@keyframes success {
	0% {
		transform: scale(0);
	}
	10% {
		transform: scale(0);
	}
	20% {
		transform: scale(1.5);
	}
	30% {
		transform: scale(1);
	}
	80% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

.wporg-2fa__success-animation {
	transform: scale(0);
	background: #33F078;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	animation: success 5s ease-in-out;
}
