.wporg-2fa__svn-password {
	code {
		display: inline-block;
		padding: 0 3px;
		background: var(--wp--preset--color--light-grey-2, #f6f6f6);
		border-radius: 2px;
	}

	ul {
		padding-bottom: 1em;

		li {
			margin-bottom: 0.5em;

			.wporg-2fa__svn-password_generated {
				color: var(--wp--preset--color--charcoal-4, #656a71);
			}
		}
	}
}