.wporg-2fa__svn-password {
	code {
		display: inline-block;
		padding: 0 3px;
		background: var(--wp--preset--color--light-grey-2, #f6f6f6);
		border-radius: 2px;
	}

	ul {
		padding-top: 16px;

		li:not(:last-child) {
			margin-bottom: 8px;

			.wporg-2fa__svn-password_generated {
				color: var(--wp--preset--color--charcoal-4, #656a71);
			}
		}
	}

	.wporg-2fa__svn-password_generated {
		padding-top: 4px;
		font-size: 12px;
		color: var(--wp--preset--color--charcoal-4, #656a71);
	}
}