.wporg-2fa__totp_intro-container {
	padding: 20px;

	.components-button {
		padding: 0;
		margin: 0;
		align-self: end;
		text-decoration: none !important;
	}

	p {
		all: unset;
	}
}

.wporg-2fa__totp_setup-container {
	padding: 20px;

	p {
		all: unset;
	}

	strong:nth-of-type(2) {
		align-self: center;
	}
}

.wporg-2fa__qr-code {
	text-align: center;

	#bbpress-forums & {
		> a {
			display: inline-block;

			&:hover,
			&:focus {
				box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba));
				outline: 3px solid transparent;
			}
		}
	}
}

.wporg-2fa__manual-code {
	font-family: monospace;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.wporg-2fa__submit-btn-wrapper {
	margin-bottom: 15px;
}

.wporg-2fa__enabled-status {
	color: $alert-green;
	text-transform: uppercase;
}
