.wporg-2fa__totp_intro-container {
	padding: 20px;

	.components-button {
		padding: 0;
		margin: 0;
		align-self: end;
		text-decoration: none !important;
	}

	p {
		all: unset;
	}
}

.wporg-2fa__totp_setup-container {
	padding: 20px;
	position: relative;

	p {
		all: unset;
	}

	strong:last-of-type {
		align-self: center;
	}

	> .components-button {
		position: absolute;
		right: 0;
		bottom: -10px;
		text-decoration: none !important;
	}

	> .components-notice {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -65px;
	}
}

.wporg-2fa__qr-code {
	text-align: center;
	height: 225px;

	#bbpress-forums & {
		> a {
			display: inline-block;

			&:hover,
			&:focus {
				box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba));
				outline: 3px solid transparent;
			}
		}
	}
}

.wporg-2fa__manual {
	display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
	align-items: center;

	code {
		font-family: 'IBM Plex Mono';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		margin-top: 16px;
	}
	
}

.wporg-2fa__submit-btn-wrapper {
	width: 100%;
    display: flex;
    justify-content: space-between;

	* {
		flex: 1;
		justify-content: center;
	}

	button + button {
		margin-right: 0 !important;
	}
}

.wporg-2fa__enabled-status {
	color: $alert-green;
	text-transform: uppercase;
}

.wporg-2fa__setup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	width: fit-content;
}