.wporg-2fa__qr-code {
	text-align: center;

	#bbpress-forums & {
		> a {
			display: inline-block;

			&:hover,
			&:focus {
				box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba));
				outline: 3px solid transparent;
			}
		}
	}
}

.wporg-2fa__manual-code {
	font-family: monospace;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.wporg-2fa__verify-code {
	width: 23ch;
	margin-bottom: 20px;
}

.wporg-2fa__submit-btn-wrapper {
	margin-bottom: 15px;
}

.wporg-2fa__enabled-status {
	color: $alert-green;
	text-transform: uppercase;
}
