.wporg-2fa__qr-code {
	text-align: center;
}

.wporg-2fa__manual-code {
	font-family: monospace;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.wporg-2fa__verify-code {
	width: 10ch;
	margin-bottom: 20px;
}

.wporg-2fa__enabled-status {
	color: $alert-green;
	text-transform: uppercase;
}
