@import '~@wordpress/base-styles/colors';
@import '~@wordpress/base-styles/colors.native';

// Gutenberg doesn't provide an "info" color, so this is taken from wp-admin's `.notice-info` class.
$alert-blue: #72aee6;

#main {
	margin-bottom: 2rem;
}

#bbp-your-profile {
	.components-notice,
	.notice {
		a {
			text-decoration: underline;
		}
	}
}

.wp-block-wporg-two-factor-settings {
	position: relative;

	h3,
	h4 {
		clear: none;
		font-size: 14px;
	}

	/* Restore wporg-support styles that bbPress overrides */
	.bbp-single-user & {
		input[type="text"],
		input[type="email"],
		input[type="search"],
		input[type="password"],
		input[type="number"] {
			padding: 6px 10px;
			font-size: 14px;
			font-family: "Open Sans", sans-serif;
		}
	}
}

.wporg-2fa__screen-intro {
	margin-bottom: 40px;
}

.wporg-2fa__submit-actions {
	margin-top: 40px;
	display: flex;
	justify-content: flex-start;
	gap: 16px 20px;
	flex-wrap: wrap;

	& + .components-notice.is-error {
		margin-top: 40px;
	}
}

@keyframes success {
	0% {
		transform: scale(0);
	}
	10% {
		transform: scale(1.5);
	}
	20% {
		transform: scale(1);
	}
	80% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

.wporg-2fa__success {
	transform: scale(0);
	background: #33F078;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	animation: success 4s ease-in-out;
}

.wporg-2fa__token {
	letter-spacing: .3em;
}

.components-notice {
	margin-left: 0;
	margin-right: 0;

	&.is-error, &.is-success {
		margin: 0;
	}

	.components-notice__content {
		display: flex;
		align-items: center;
		gap: 8px;

		svg {
			flex-shrink: 0;
		}
	}
}

@import "components/account-status";
@import "components/password";
@import "components/email-address";
@import "components/webauthn/webauthn";
@import "components/totp";
@import "components/backup-codes";
@import "components/setup-progress-bar";
@import "components/global-notice";
@import "components/screen-link";
@import "components/screen-navigation";
@import "components/auto-tabbing-input";
@import "components/revalidate-modal";
